<%-include('includes/_header')%>
</head>

<body>
    <!-- navbar -->
    <%-include('includes/_nav')%>

    <!-- body content -->
    <h1> Home </h1>
    <!-- footer -->
    <%-include('includes/_footer')%>
</body>
</html>